---
Checks: >
  *,
  clang-analyzer-*,
  clang-analyzer-core,
  clang-analyzer-unix,
  clang-analyzer-deadcode,
  clang-analyzer-security.FloatLoopCounter,
  clang-analyzer-security.insecureAPI.bcopy,
  clang-analyzer-security.insecureAPI.strcpy,
  clang-analyzer-security.insecureAPI.strcat,
  clang-analyzer-security.insecureAPI.rand,
  clang-analyzer-security.insecureAPI.getpw,
  clang-analyzer-security.insecureAPI.mkstemp,
  clang-analyzer-security.insecureAPI.uncheckedReturn,
  clang-analyzer-cplusplus.NewDelete,
  clang-analyzer-cplusplus.NewDeleteLeaks,
  clang-analyzer-cplusplus.Move,
  clang-analyzer-unix.Malloc,
  clang-analyzer-unix.MallocSizeof,
  clang-analyzer-unix.MallocOverflow,
  bugprone-thread-safety-analysis,
  bugprone-unsafe-functions,
  performance-no-int-to-ptr,
  performance-unnecessary-value-param,
  -clang-analyzer-cplusplus*,
  -altera-*,
  -cert-dcl03-c,
  -misc-static-assert,
  -llvm-include-order,
  -llvmlibc-*,
  -hicpp-*,
  -concurrency-mt-unsafe,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
WarningsAsErrors: true
HeaderFilterRegex: '.*'
FormatStyle: file